# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BillboardTemplate.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\BillboardTemplate\.idea\.idea.BillboardTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
